@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Services;

<div class="app-accordion4-wrapper accordion accordion-flush" @Edit.Attribute("quick-edit-config", new { modules = new {  enable = true }})>
  @foreach (var accord in AsList(Data)) {
    var initiallyExpanded = Convert.ToBool(accord.InitiallyExpanded, fallback: false);
    var hasIcon = Text.Has(accord.Icon); 
    var render = GetService<IRenderService>();

    <div class="accordion-item" @Edit.TagToolbar(accord)>
      <h2 class="accordion-header" id="headingOne">
        <button class='accordion-button @(initiallyExpanded ? "" : "collapsed")' type="button" data-bs-toggle="collapse" data-bs-target="#a-@accord.EntityId" aria-expanded="true" aria-controls="a-@accord.EntityId">
          @if (hasIcon) { <span><i class="me-3 co-icon fas @accord.Icon" aria-hidden="true"></i></span> }
          @accord.Title
        </button>
      </h2>
      <div id="a-@accord.EntityId" class='accordion-collapse collapse @(initiallyExpanded ? "show" : "")' aria-labelledby="a-@accord.EntityId">
        <div class="accordion-body">
          @if (accord.IsDemoItem) {
            <div data-accordion-child="@accord.EntityId">
              @Html.Raw(Resources.DemoItemMessage)
            </div>
          } else {
            <div class='sc-content-block-list @(initiallyExpanded ? "show" : "")' @Edit.ContextAttributes(accord, field: "DesignedContent") data-accordion-child="@accord.EntityId">
              @foreach (var designedContent in accord.DesignedContent) {
                @render.One(designedContent);
              }
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>

@Html.Partial("_Accordion.PartAssets.cshtml")