@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
  var domId = "app-accordion4-" + CmsContext.Module.Id;
}

<div class="app-accordion4-wrapper accordion accordion-flush" @domId @Edit.Attribute("quick-edit-config", new { modules = new {  enable = true }})>
  @foreach (var accord in AsTypedList(Data.MyContent)) {

    var initiallyExpanded = accord.Bool("InitiallyExpanded");

    var hasIcon = Text.Has(accord.String("Icon"));

    // TODO: @2ro - these IDs are a bit confusing, we probably need to add comments
    var sectionHeaderId = "a-" + accord.EntityId;
    var hiddenId = CmsContext.Module.Id + "-" + accord.EntityId;
    var sectionId = "a-" + hiddenId;

    // Check if skin is BS5 ur BS4 and figure out the best CSS classes for each
    var isBs5 = Kit.Css.Is("bs5");
    var bsToggleAttr = isBs5 ? "data-bs-toggle" : "data-toggle";
    var bsTargetAttr = isBs5 ? "data-bs-target" : "data-target";
    var marginRight = isBs5 ? "me-3" : "mr-3";

    <div class="accordion-item" @Kit.Toolbar.Default().For(accord)>
      <h2 class="accordion-header" id="@sectionHeaderId">
        <button class='accordion-button @(initiallyExpanded ? "" : "collapsed")' type="button"  @bsToggleAttr="collapse" @bsTargetAttr="#@sectionId" aria-expanded="true" aria-controls="@sectionHeaderId">
          @if (hasIcon) { <span><i class='@marginRight co-icon fas @accord.String("Icon")' aria-hidden="true"></i></span> }
          @accord.String("Title")
        </button>
      </h2>
      <div id="@sectionId" class='accordion-collapse collapse @(initiallyExpanded ? "show" : "")' aria-labelledby="@sectionId">
        <div class="accordion-body">

          @* When the current item is just a demo-preview, show a message to help the editor *@
          @if (accord.IsDemoItem) {
            if (CmsContext.User.IsContentAdmin) {
              <div class="alert alert-info" data-accordion-child="@hiddenId">
                @App.Resources.Html("DemoItemMessage", container: "")
              </div>
            }
          } else {
            var innerBlocks = accord.Children("DesignedContent");

            // Show message if no content and user is admin
            if (!innerBlocks.Any() && CmsContext.User.IsContentAdmin) {
              <div class="alert alert-info" data-accordion-child="@hiddenId">
                @App.Resources.Html("NoContentMessage", container: "")
              </div>
            }

            @* Now show the inner section with all the blocks *@
            <div class='sc-content-block-list @(initiallyExpanded ? "show" : "")' @Edit.ContextAttributes(accord, field: "DesignedContent") data-accordion-child="@hiddenId">
              @foreach (var designedContent in innerBlocks) {
                @Kit.Render.One(designedContent);
              }
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>

@Html.Partial("Assets.cshtml", new { DomId = domId })